<section>
  <h1>Upload de Produtos</h1>
  <p>Esta página permite que você faça a importação dos produtos via arquivos.</p>

  <h3>Campos obrigatórios</h3>
  <div class="txtMargin">
    <ul>
      <li>cod</li>
      <li>cod</li>
      <li>cod</li>
      <li>cod</li>
      <li>cod</li>
    </ul>
  </div>
</section>

<div class="alert alert-info">
  <h4>Atenção!!!</h4>
  <p>Extensões permitidas dos arquivos são: <strong>.xls, .xlsx e .csv.</strong></p>
</div>

<%= render :partial => 'form' %>
