<% if user_signed_in? %>
  <div class='logout'>
    <strong><%= current_user.email %></strong>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-mini' %>
  </div>
<% end %>
